<head>
 <link rel="stylesheet" href="/styles/artist.css">
</head>
{{#each artists}}
<div class="card">
 <img src="{{this.images.[0].url}}" alt="">
 
 <div class="info">
 <h1>{{this.name}}</h1>
 <a href="/albums/{{id}}">View Albums</a>

 </div>
</div>
{{/each}}