<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="/styles/style.css">
 <title>Spotify Layout</title>
</head>
<body>
 {{{body}}}
 <footer>
   <h5>Developed by <a href="https://github.com/1slander">Hector Gonzalez</a></h5>
 </footer>
 
</body>
</html>